name: ci

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'
  workflow_run:
    workflows:
      - test
    types:
      - completed

env:
  VERSION: 8.5.0

jobs:
  logout:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        logout:
          - false
          - true
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Elastic Agent
        uses: ./
        with:
          fleetUrl: ${{ secrets.FLEET_URL }}
          enrollmentToken: ${{ secrets.FLEET_ENROLLMENT_TOKEN }}
          logout: ${{ matrix.logout }}
          version: ${{ env.VERSION }}

  elasticAgentVersion:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Elastic Agent
        uses: ./
        with:
          fleetUrl: ${{ secrets.FLEET_URL }}
          enrollmentToken: ${{ secrets.FLEET_ENROLLMENT_TOKEN }}
          version: ${{ env.VERSION }}

  notify-status:
    if: ${{ always() && github.event.workflow_run }}
    needs: [logout, elasticAgentVersion]
    runs-on: ubuntu-latest
    steps:
      -
        uses: LouisBrunner/checks-action@v1.1.1
        if: ${{ failure() }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ci workflow failed
          conclusion: failure
          sha: ${{ github.event.workflow_run.head_sha }}

      -
        uses: LouisBrunner/checks-action@v1.1.1
        if: ${{ success() }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ci workflow success
          conclusion: success
          sha: ${{ github.event.workflow_run.head_sha }}

